# Mavlink
*.param
*.parm
*.log
*.tlog
*.bin

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# pre-commit
.pre-commit-config.yaml

.vscode/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
